.seeds-layouts-parallax {
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
}

.seeds-layouts-parallax.repeat {
  background-repeat: repeat;
  background-size: 50px;
}
